
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
    overflow:hidden;
    background-color: #10171d;
}
:root {
    --c-bg: #14141c;
    --c-bg_: rgb(201, 201, 201);
    --c-txt: rgb(237, 237, 237);
    --c-txt_: #0f0f0f;
    --c-txt_dark: rgb(1, 6, 47);
    --c-droplet: rgb(255,255,255);
    --c-droplet1: rgba(255,255,255,0.4);
    --c-droplet_: rgb(26, 24, 43);
    --c-ripple: #3a426c83;
}
.Content {
    position: relative;
    width: 100vh;
    height: 100vh;
    background-color: var(--c-bg);
    background-image: radial-gradient(ellipse, transparent 30%, rgba(12, 13, 17, 0.3) 70%), url("resources/hikari.png");
    position:absolute;
    left:50%;
    background-size:contain;
    transform:translatex(-50%);
}
.Vignette {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:radial-gradient(circle, transparent 30%, rgba(3,3,20,0.5) 70%);
    z-index:1000000;
    pointer-events:none;
}
.endScreen {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-shadow:0 0 10px black, 0 0 50px black, 0 0 30px black;
    display:none;
    z-index:100000000000000;
}
.WinScreen {
    background-color:rgba(0, 255, 179, 0.3);
}
.LoseScreen {
    background-color:rgba(255, 0, 98, 0.3);
}
.Life {
    position:absolute;
    left:50px;
    bottom:10px;
    font-size:100px;
    display:none;
}
.Cursor {
    --x:0px;
    --y:0px;
    --size:5vh;
    position:absolute;
    top:0;
    transform:translate(
        calc(var(--x) - var(--size) / 2),
        calc(var(--y) - var(--size) / 2)
    );
    border:1vh solid white;
    opacity:0.5;
    pointer-events:none;
    width:var(--size);
    height:var(--size);
    border-radius:var(--size);
    z-index:1000000;
}
* {
    margin:0;
    color: var(--c-txt);
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    box-sizing: border-box;
}
.droplet {
    --DROP_LENGTH: 2s;
    --PREDROP_LENGTH: 1.5s;
    --START_SIZE:25vh;
    --start-x:0px;
    --start-y:0px;
    --end-x:0px;
    --end-y:0px;
    --rotation:0deg;
    --color:var(--c-droplet);
    --thin-border-width:calc(var(--START_SIZE) / 20);
    --thick-border-width:calc(var(--START_SIZE) / 3);
    width: var(--START_SIZE);
    height: var(--START_SIZE);
    position: absolute;
    left:calc(var(--START_SIZE) / -2);
    top:calc(var(--START_SIZE) / -2);
    border-radius: 100%;
    border: 0px solid var(--color);
    animation:  var(--PREDROP_LENGTH) cubic-bezier(0.03, 0.21, 0.83, 0.22) forwards dropletPrefall,
                var(--DROP_LENGTH) var(--PREDROP_LENGTH) ease-in forwards fallingDroplet;
    animation-fill-mode: forwards;
    transition:0.2s border-color, 0.5s border-width;
    transform-origin:center;
    box-shadow:0 0 20px var(--c-bg);
    backdrop-filter:blur(10px);
}
.droplet.type-left {
    border-width:var(--thin-border-width);
    border-left-width:var(--thick-border-width);
}
.droplet.type-up {
    border-width:var(--thin-border-width);
    border-top-width:var(--thick-border-width);
}
.droplet.type-right {
    border-width:var(--thin-border-width);
    border-right-width:var(--thick-border-width);
}
.droplet.type-down {
    border-width:var(--thin-border-width);
    border-bottom-width:var(--thick-border-width);
}
.droplet.state-destroy {
    border-color:transparent;
    background-color:transparent;
}
.droplet.state-misdirect {
    border-width:calc(var(--START_SIZE) / 2);
}
.droplet.debug {
    animation:  var(--PREDROP_LENGTH) linear forwards dropletPrefall,
                var(--DROP_LENGTH) var(--PREDROP_LENGTH) ease-in forwards fallingDroplet;
    position:absolute;
    top: 50%;
    left:50%;
}
@keyframes dropletPrefall {
    0% {
        opacity:0;
        filter:blur(100px);
        transform:translate(var(--start-x), var(--start-y)) scale(1.3);
    }
    50% {
        filter:blur(20px);
    }
    100% {
        opacity:0.3;
        filter:blur(10px);
        transform:translate(var(--start-x), var(--start-y)) scale(1);
    }
}
@keyframes fallingDroplet {
    0% {
        opacity:0.3;
        filter:blur(10px);
        transform:translate(var(--start-x), var(--start-y)) scale(1);
    }
    5% {
        filter:blur(0);
        opacity:1;
    }
    100% {
        opacity:1;
        filter:blur(0);
        transform:translate(var(--end-x), var(--end-y)) scale(0.05);
    }
}
.TextContainer {
    display:flex;
    flex-direction:column;
    width:fit-content;
    position:absolute;
    left:50%;
    transform:translatex(-50%)
}
body .gamemode .startGame {
    --flash-color:var(--c-bg_);
    text-align:center;
    font-size:30px;
    font-style:normal;
    z-index:110000;
    background-color:var(--c-bg_);
    color:var(--c-txt_);
    padding:10px 30px;
    display:inline-block;
    border-radius:10px;
    filter:brightness(1);
    box-shadow:0px 0px 0px var(--c-bg_);
    transition:0.5s;
    user-select:none;
    cursor:pointer;
    background-color:var(--flash-color);
}
@keyframes breathe-flash {
    from {
        filter:brightness(1);
        box-shadow:0px 0px 7px var(--flash-color);
    }
    to {
        filter:brightness(1.3);
        box-shadow:0px 0px 15px var(--flash-color);
    }
}
.gamemodeDesc {
    text-align:center;
    font-size:20px;
    margin-top:5px;
    filter:blur(0.5px) drop-shadow(0 0 5px var(--c-bg)) drop-shadow(0 0 10px var(--c-bg));
}
.Dialog {
    text-align:center;
    font-size:30px;
    margin-top:30px;
    filter:blur(1px);
    text-shadow:0px 0px 10px var(--c-bg),
                0px 0px 30px var(--c-bg);
    z-index:110000;
    animation:5s infinite alternate-reverse ease-in-out breathing-text;
}
@keyframes breathing-text {
    from {
        filter:blur(1px);
        transform:scale(1);
    }
    to {
        filter:blur(0px);
        transform:scale(1.05);
    }
}
.Dialog.state-fadeout {
    animation:5s linear forwards dialog-fadeout;
}
@keyframes dialog-fadeout {
    from {
        filter:blur(0px);
        opacity:1;
        color:var(--c-txt);
    }
    to {
        filter:blur(2px);
        opacity:0;
        color:var(--c-txt_dark);
    }
}
.typewritChar {
    --index:0;
    --speed:75ms;
    animation:0.5s forwards fadeIn;
    animation-delay:calc(var(--speed)*var(--index)); 
    opacity:0; 
}
@keyframes fadeIn {
    0% {
        opacity:0;
        filter:blur(10px);
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:1;
        filter:blur(0px);
    }
}
.gamemode {
    opacity:0; 
    display:flex;
    flex-direction:column;
    border:20px solid transparent;
    padding:20px;
    transition:1s opacity;
    pointer-events:none;
}
.gamemode.state-appear {
    animation:2s forwards gamemode-fadeIn;
    pointer-events:all;
}

@keyframes gamemode-fadeIn {
    0% {
        opacity:0;
        filter:blur(10px);
        border:5px solid var(--c-bg_);
        padding:20px;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:1;
        filter:blur(0px);
        padding:10px;
        border:20px solid transparent;
    }
}
.gamemode.state-appear .startGame {
    color:var(--c-bg_);
    animation:  1s forwards flash,
                5s infinite alternate ease-in-out breathe-flash;
    animation-delay:0.5s;
}
.gamemode.state-fade {
    opacity:0 !important;
    pointer-events:none;
}
@keyframes flash {
    0% {
        color:var(--c-bg_);
    }
    10% {
        color:var(--c-txt_);
    }
    13% {
        color:var(--c-bg_);
    }
    15% {
        color:var(--c-txt_);
    }
    21% {
        color:var(--c-bg_);
    }
    27% {
        color:var(--c-txt_);
    }
    45% {
        color:var(--c-bg_);
    }
    47% {
        color:var(--c-txt_);
    }
    78% {
        color:var(--c-bg_);
    }
    100% {
        color:var(--c-txt_);
    }
}
.effect-ripple {
    --x:300px;
    --y:300px;
    --speed:0.5s;
    --color:var(--c-ripple);
    --endingSize:30vh;
    position:absolute;
    left:0;
    top:0;
    transform:translate(calc(var(--x) - 50%), calc(var(--y) - 50%));
    border:0 solid var(--color);
    border-radius:25vh;
    box-sizing:border-box;
    pointer-events:none;
    animation: var(--speed) ease-out forwards splash;
}
@keyframes splash {
    0% {
        width:0px;
        height:0px;
        opacity:0;
    }
    5% {
        opacity:0.5;
    }
    40% {
        border-width:1.5vh;
    }
    100% {
        width:var(--endingSize);
        height:var(--endingSize);
        opacity:0;
        border-width:0px;
    }
}
.Raindrops, .Ripples, .Lines {
    position:absolute;
    top:0;
    left:0;
}
.poemline {
    transform:translate(calc(var(--x) - 50%), calc(var(--y) - 50%));
    font-size:25px;
    filter:blur(1px);
    text-shadow:0px 0px 10px var(--c-bg);
    text-shadow:0px 0px 10px var(--c-bg);
    z-index:111000;
    animation:  5s linear forwards poemline-fadeout;
    position:absolute;
    top:0;
    left:0;
    white-space:nowrap;
    pointer-events:none;
}
@keyframes poemline-fadeout {
    from {
        transform:translate(calc(var(--x) - 50%), calc(var(--y) - 50% - 80px)) scale(1.05);
        filter:blur(0px);
        opacity:1;
        color:var(--c-txt);
    }
    to {
        transform:translate(calc(var(--x) - 50%), calc(var(--y) - 50% - 40px)) scale(1);
        filter:blur(2px);
        opacity:0;
        color:var(--c-txt_dark);
    }
}